## Estátistica

Analise das vendas dos produtos A e B no estado do Rio Grande do Norte nos anos 2016 e 2017

Autor: Victor Gabriel Ribeiro Mangabeiro

Pos BIG DATA

# Sobre este estudo

Nesta apresentação, foram utilizados os dados disponibilizados no moodle. 
O arquivo contém informações sobre a venda de dois produtos nos municipios brasileiros.

Neste estudo será utilizado os dados do estado do Rio Grande do Norte.

[Base de dados](https://moodle.df.senac.br/ead/mod/resource/view.php?id=105731) : Possui os dados de todos os estados.

[Base de dados RN](): Possui os dados somente do estado do Rio Grande do Norte.



# Rio Grande do Norte

O estado está situado no nordeste da Região Nordeste e tem por limites o Oceano Atlântico a norte a leste, a Paraíba a sul e o Ceará a oeste.

É dividido em 167 municípios e sua área total é de 52 811,126 km².

Com uma população de 3,479 milhões de habitantes, é o décimo sexto estado mais populoso do Brasil, possuindo o melhor 
IDH e a maior renda per capita da região Nordeste e a melhor expectativa de vida do Norte-Nordeste.
![Bandeira](img/rn.png "Bandeira RN")

No setor primário, Mossoró é o maior destaque na agropecuária com a fruticultura irrigada, tendo o melão como principal produto destinado às exportações. Em seguida vêm: Touros, com sua atividade agrícola voltada principalmente para cultivo do abacaxi; Ceará-Mirim, com destaque no cultivo e produção de cana de açúcar e outras culturas, como mandioca e mamão; São José do Mipibu, com destaque para a plantação de cana de açúcar, e frutas, principalmente mamão e manga.

No setor secundário, as indústrias mais abundantes no estado são a extrativa mineral (com destaque para a produção de petróleo, gás natural, sal marinho e lâmpadas), a de transformação (principalmente na produção de bens não duráveis de consumo) e a de construção civil, e estão concentradas principalmente na Região Metropolitana de Natal e em Mossoró. O Rio Grande do Norte também possui um dos polos agroindustrais mais importantes no contexto da região Nordeste e um moderno parque têxtil, é o maior estado produtor de sal do país, respondendo por mais de 90% da produção salineira do país, além de ser rico em recursos minerais, como o calcário, o caulim, a columbita, a diatomita, o granito, a mica e tantalita.

# Perguntas a serem respondidas

Qual a média, moda, mediana, desvio padrão e variancia das vendas dos produtos A e B nos anos de 2016 e 2017?

Quais são os três maiores municípios em termos de Vendas dos produtos A e B em cada ano?

Quais são os três menores municípios em termos de Vendas dos produtos A e B em cada ano?

Quais os municípios que cresceram as vendas de 2017 em relação a 2016? E quais diminuiram?

Existe relação entre a distancia da capital e o número de vendas?

Qual a média, moda, mediana, 1º quartil, 3º quartil, 7º decil, 84º Percentil da variável "distância da capital"

Quais são os três maiores/menores municípios em termos de consumo per capita urbano?

Quais municípios tem a poluação mais jovem e mais idosa?

In [114]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)


file = "Base-de-Dados.xlsx"

xl = pd.ExcelFile(file)
pd.options.display.float_format = '${:,.2f}'.format

df1 = xl.parse('Base de dados RN')

# Vendas dos produtos nos anos 2016 - 2017

#### Qual a média, moda, mediana, desvio padrão e variancia das vendas dos produtos A e B nos anos de 2016 e 2017?

In [44]:
trace = go.Scatter(
    x = [2016,2017],
    y = df1[['Produto A em 2016','Produto A em 2017']].sum(),
    name= "Produto A"
)
trace2 = go.Scatter(
    x = [2016,2017],
    y = df1[['Produto B em 2016', 'Produto B em 2017']].sum(),
    name= "Produto B"
)

data = [trace,trace2]
iplot(data, filename='basic-line')

Ambos os produtos tiveram queda do ano de 2016 para o ano 2017.

O Produto A obteve um total de vendas em 2016 de 48.825, já em 2017 o total foi 42.816,uma queda de 12,30%.
O produto B obteve um total de vendas em 2016 de 63.934, em 2017 o total foi de 60.746,uma queda de 4,98%.

## Municipios que mais cresceram(vendas)
#### Quais os municípios que cresceram as vendas de 2017 em relação a 2016?


Apesar dos produtos obterem queda do ano de 2016 para 2017,  
alguns municipios apresentaram crescimento nas vendas de um ano para o outro.

In [3]:
def f(row):
    return row['Produto A em 2017'] - row['Produto A em 2016']

df1['Crescimento A'] = df1.apply(f, axis=1)
    
df1[['Município_', 'Produto A em 2016', 'Produto A em 2017', 'Crescimento A']].set_index('Município_').sort_values(by='Crescimento A',ascending=False).head(10)

                Produto A em 2016  Produto A em 2017  Crescimento A
Município_
PAU DOS FERROS                376                381              5
EXTREMOZ                      300                289            -11
PARNAMIRIM                    453                441            -12
MONTE ALEGRE                  291                272            -19
CAICO                         360                339            -21
AREIA BRANCA                  310                288            -22
MACAIBA                       333                307            -26
CEARA-MIRIM                   310                283            -27
APODI                         304                276            -28
SANTA CRUZ                    307                278            -29

O produto A só apresentou crescimento na cidade Pau Dos Ferros. Um crescimento de 1 %.

In [4]:
def f(row):
    return row['Produto B em 2017'] - row['Produto B em 2016']

df1['Crescimento B'] = df1.apply(f, axis=1)
    
df1[['Município_', 'Produto B em 2016', 'Produto B em 2017', 'Crescimento B']].set_index('Município_').sort_values(by='Crescimento B',ascending=False).head(10)

                      Produto B em 2016  Produto B em 2017  Crescimento B
Município_
SERRA NEGRA DO NORTE                490                715            225
NATAL                              3936               4081            145
MOSSORO                            1544               1660            116
CAICO                               828                910             82
PARNAMIRIM                         1155               1236             81
APODI                               497                528             31
CEARA-MIRIM                         446                468             22
AREIA BRANCA                        472                489             17
ACU                                 539                554             15
PAU DOS FERROS                      546                559             13

## Municípios que mais decresceram(vendas)
#### Quais os municípios que decresceram as vendas de 2017 em relação a 2016?

Abaixo os munícipios que obtiveram as maiores quedas para o 
produto A:

In [5]:
df1[['Município_', 'Produto A em 2016', 'Produto A em 2017', 'Crescimento A']].set_index('Município_').sort_values(by='Crescimento A',ascending=True).head(10)

                      Produto A em 2016  Produto A em 2017  Crescimento A
Município_
MOSSORO                             557                483            -74
ACU                                 325                275            -50
CANGUARETAMA                        329                281            -48
CURRAIS NOVOS                       348                303            -45
AREZ                                289                247            -42
GROSSOS                             294                252            -42
SERRA NEGRA DO NORTE                289                248            -41
ALMINO AFONSO                       287                246            -41
MONTANHAS                           287                246            -41
ANGICOS                             292                252            -40

Para o Produto B:

In [6]:
df1[['Município_', 'Produto B em 2016', 'Produto B em 2017', 'Crescimento B']].set_index('Município_').sort_values(by='Crescimento B',ascending=True).head(10)

                    Produto B em 2016  Produto B em 2017  Crescimento B
Município_
CARAUBAS                          405                351            -54
BREJINHO                          357                311            -46
SAO JOSE DE MIPIBU                454                411            -43
FLORANIA                          392                352            -40
AFONSO BEZERRA                    324                285            -39
EQUADOR                           357                320            -37
LAJES PINTADAS                    329                293            -36
SANTANA DO SERIDO                 401                366            -35
BOM JESUS                         332                297            -35
LAGOA DE VELHOS                   319                284            -35

## Os 3 maiores municípios em vendas
#### Quais são os três maiores municípios em termos de Vendas dos produtos A e B em cada ano?

Municípios que mais venderam:

Produto A 2016 e 2017:

As 3 cidades acima se mantiveram no topo em ambos os anos em relação as vendas do produto A.

In [7]:
df1[['Município_', 'Produto A em 2016','Produto A em 2017']].set_index('Município_').sort_values(by=['Produto A em 2016', 'Produto A em 2017'],ascending=False).head(3)

            Produto A em 2016  Produto A em 2017
Município_
NATAL                    1065               1029
MOSSORO                   557                483
PARNAMIRIM                453                441

Produto B 2016 e 2017:

In [8]:
df1[['Município_', 'Produto B em 2016', 'Produto B em 2017']].set_index('Município_').sort_values(by=['Produto B em 2016', 'Produto B em 2017'],ascending=False).head(3)

            Produto B em 2016  Produto B em 2017
Município_
NATAL                    3936               4081
MOSSORO                  1544               1660
PARNAMIRIM               1155               1236

Produto B 2017:

## Os 3 menores municípios em vendas
#### Quais são os três menores municípios em termos de Vendas dos produtos A e B em cada ano?

Produto A 2016 e 2017:

In [9]:
df1[['Município_', 'Produto A em 2016','Produto A em 2017']].set_index('Município_').sort_values(by=[ 'Produto A em 2016','Produto A em 2017'],ascending=True).head(3)

                     Produto A em 2016  Produto A em 2017
Município_
PARAU                              283                245
SAO BENTO DO TRAIRI                283                245
JAPI                               283                246

Produto B 2016:

In [10]:
df1[['Município_', 'Produto B em 2016']].set_index('Município_').sort_values(by=[ 'Produto B em 2016'],ascending=True).head(3)

                     Produto B em 2016
Município_
PEDRA PRETA                        318
PARAU                              318
SAO BENTO DO TRAIRI                318

Produto B 2017:

In [11]:
df1[['Município_', 'Produto B em 2017']].set_index('Município_').sort_values(by=[ 'Produto B em 2017'],ascending=True).head(3)

                 Produto B em 2017
Município_
LAGOA DE VELHOS                284
AFONSO BEZERRA                 285
RUY BARBOSA                    286

## Medidas de tendência central(Vendas)
#### Qual a média, moda, mediana, desvio padrão e variancia das vendas dos produtos A e B nos anos de 2016 e 2017?

Abaixo será analisado a media, moda e mediana das vendas por municipio nos anos de 2016 e 2017.

In [12]:


anos = ['Produto A em 2016', 'Produto A em 2017', 'Produto B em 2016', 'Produto B em 2017']
media = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].mean().round()
mediana = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].median().round()
moda = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].mode().round()


#desvio padrão
desvio = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].std()

variancia = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].var()

trace1 = go.Bar(
    x=anos,
    y=media,
    text=media,
    textposition = 'auto',
    name='media'
)
trace2 = go.Bar(
    x=anos,
    y=mediana,
    text=mediana,
    textposition = 'auto',
    name='Mediana'
)

trace3 = go.Bar(
    x=anos,
    y=moda.values[0],
    text=moda.values[0],
    textposition = 'auto',
    name='moda'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group',
    title='Medidas produtos A e B 2016-2017',
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped-bar')

As medidas de tendencia central aprensentam queda de ambos os produtos, seguindo a queda dos valores totais de venda.

O desvio padrão e variancia:

| Ano | Desvio Padrão | Variancia | Produto|
| -----| ------| -------- | ---|
| 2016 | 66,32 | 4.398,55 | A |
| 2016 | 306,28| 93,809.99| B |
| 2017 | 66,59 | 4.434,53 | A |
| 2017 | 326,72| 106.744,11| B |

O desvio padrão evidencia que os dados estão bem proximos da média para o produto A em ambos os anos, já o produto B
possui um desvio padrão alto porém ainda abaixo da média.

Os dados de venda do produto B são bem mais variados que os dados do produto A.

#### Existe relação entre a distância da capital e o número de vendas?

Analise sobre a relação entre a distância da capital e o número de vendas

Correlação Distância da capital x Vendas

| Produto/ANO | Distância da capital |
| --- | -------------------- |
| Produto A em 2016 | 0,13 |
| Produto A em 2017 | 0,13 |
| Produto B em 2016 | 0,12 |
| Produto B em 2017 | 0,11 |


Como a correlação está proxima de 0, pode-se considerar que não há correlação entre as variáveis.

In [109]:
trace0 = go.Scatter(
    x = df1['Distância da Capital'],
    y = df1['Produto A em 2016'],
    name = 'Produto A 2016',
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgba(152, 0, 0, .8)',
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)'
        )
    )
)

trace1 = go.Scatter(
    x = df1['Distância da Capital'],
    y = df1['Produto A em 2017'],
    name = 'Produto A 2017',
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgba(0, 255, 0, .8)',
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)'
        )
    )
)

trace2 = go.Scatter(
    x = df1['Distância da Capital'],
    y = df1['Produto B em 2016'],
    name = 'Produto B 2016',
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgba(20, 10, 255, .8)',
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)'
        )
    )
)

trace3 = go.Scatter(
    x = df1['Distância da Capital'],
    y = df1['Produto B em 2017'],
    name = 'Produto B 2017',
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgba(255, 175, 175, .8)',
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)'
        )
    )
)

data = [trace0, trace1, trace2, trace3]


layout = dict(title = 'Distância da capital (Dispersão)',
              yaxis = dict(
                  zeroline = False,
                  title="Vendas",
              ),
              xaxis = dict(
                  zeroline = False,
                  title="Distância da capital",
              ),
             )

fig = dict(data=data, layout=layout)
iplot(fig, filename='styled-scatter')

No gráfico fica claro que não existe correlação.

# Média e desvio padrão das demais variaveis

Media e desvio padrão das outras variaveis que constam no banco de dados

| População Total | População Urbana | População Rural | Homens | Mulheres | Cresc.Dem. (% ao ano) | Pop. Alfabetizada (hab) | Num. Domicílios (Total)|
| ------ | --------- | --------- | --------- | --------- | ------ | --------- | --------- |
|21278,80 | 16440,76 | 4838,05 | 10465,91 | 10812,90 | 0,46 | 16520,86 | 6723,54 |
|75972,57 | 75239,68 | 5808,32 | 36135,66 | 39842,48 | 1,09 | 65545,87 | 24881,93 |



| PIB (2015) | PIB Per Capita (2015) | Comércio | Indústria | Serviços | Agribusiness | Bancos | Comércio Varejista | Comércio Atacadista|
| ---------- | -------- | ------ | ------- | ------ | ----- | ----- | ------- | ----- |
| 344782,10 | 11288,18 | 581,48  | 234,17 | 700,85 | 9,53  | 2,05  | 543,32  | 38,15 |
| 1731707,85 | 8337,05  | 2706,47 | 1216,61| 3941,82| 24,30 | 8,08  | 2460,41 | 247,72| 



| Num. Domicílios (Urbanos) | Num. Domicílios (Rurais) | Cons/per cap/Urb (R\$/ano) | Cons/per cap/Rur (R\$/ano) | Distância da Capital | Área | Densidade Demográfica 
| ------ | --------- | ---------- | --------- | ------ | ----- | ----- |
| 5329,91  | 1393,63 | 14757,30 | 6763,57 | 168,85 | 310,37 | 100,91 |
| 24689,73 | 1653,34 | 1977,82  | 1774,71 | 105,71 | 313,03 | 444,85 |

# Analise sobre a variável distância da capital


#### Qual a média, moda, mediana, 1º quartil, 3º quartil, 7º decil, 84º Percentil da variável "distancia da capital"?

Os dados foram agrupados em classes com amplitude de 50.

| Distancia da capital | fi | fa |
|  ------- | --- | --- |
| 0   -\| 50 | 21 | 21 |
| 50  -\| 100 | 39 | 60 |
| 100 -\| 150 | 21 | 81 |
| 150 -\| 200 | 21 | 102 |
| 200 -\| 250 | 18 | 120 |
| 250 -\| 300 | 15 | 135 |
| 300 -\| 350 | 22 | 157 |
| 350 -\| 400 | 7 | 164 |
|     Total   | 164 |  |

In [13]:
a = pd.Series([168.90])
b = pd.Series([152.38])
c = pd.Series([75])
Pquartil = pd.Series([75.64])
Tquartil = pd.Series([260])
Sdecil= pd.Series([235.55])
Percentil = pd.Series([306.27])


trace1 = go.Bar(
    x=['Média'],
    y=a,
    text=168.90,
    textposition = 'auto',
    name='media'
)
trace2 = go.Bar(
    x=['Moda'],
    y=c,
    text=75,
    textposition = 'auto',
    name='Moda'
)

trace3 = go.Bar(
    x=['Mediana'],
    y=b,
    text=152.38,
    textposition = 'auto',
    name='Mediana'
)

trace4 = go.Bar(
    x=['1° Quartil'],
    y=Pquartil,
    text=Pquartil,
    textposition = 'auto',
    name='1º Quartil'
)

trace5 = go.Bar(
    x=['3° Quartil'],
    y=Tquartil,
    text=Tquartil,
    textposition = 'auto',
    name='3º Quartil'
)

trace6 = go.Bar(
    x=['7° Decil'],
    y=Sdecil,
    text=Sdecil,
    textposition = 'auto',
    name='7º Decil'
)

trace7 = go.Bar(
    x=['84° Percentil'],
    y=Percentil,
    text=Percentil,
    textposition = 'auto',
    name='84º Percentil'
)

data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7]
layout = go.Layout(
    barmode='group',
    title='Medidas distância da capital',
)

fig_dist = go.Figure(data=data, layout=layout)
iplot(fig_dist, filename='grouped-bar')

# População

Analise da idade da população do estado.

In [14]:
totalIdosos = df1['População Total| 60 e mais'].sum()
total = df1['População Total'].sum()

(totalIdosos * 100)/total


labels = ['Idosos','Jovens']
values = [(totalIdosos * 100)/total ,100 - ((totalIdosos * 100)/total)]

trace = go.Pie(labels=labels, values=values, title='População Jovens/Idosos')

iplot([trace], filename='basic_pie_chart')

#### Quais municípios tem a poluação mais jovem e mais idosa?

Os 3 munícipios com a maior porcentagem de idosos

In [118]:
values = [(totalIdosos * 100)/total ,100 - ((totalIdosos * 100)/total)]

df1['Porcentagem de idosos'] = (df1['População Total| 60 e mais']) / df1['População Total']
df1['Porcentagem de jovens'] = 1 - df1['Porcentagem de idosos']
df1['Porcentagem de idosos'] = df1['Porcentagem de idosos'].map(lambda n: '{:,.2%}'.format(n))
df1['Porcentagem de jovens'] = df1['Porcentagem de jovens'].map(lambda n: '{:,.2%}'.format(n))


df1[['Município_','Porcentagem de idosos', 'Porcentagem de jovens']].set_index('Município_').sort_values(by=['Porcentagem de idosos'],ascending=True).head(3)

                  Porcentagem de idosos Porcentagem de jovens
Município_
MOSSORO                          10.06%                89.94%
ALTO DO RODRIGUES                10.09%                89.91%
IPANGUACU                        10.23%                89.77%

Os 3 munícipios com a maior porcentagem de jovem

In [40]:
df1[['Município_','Porcentagem de idosos', 'Porcentagem de jovens']].set_index('Município_').sort_values(by=['Porcentagem de idosos'],ascending=False).head(3)

             Porcentagem de idosos Porcentagem de jovens
Município_
EXTREMOZ                     9.97%                90.03%
MAXARANGUAPE                 9.96%                90.04%
RIO DO FOGO                  9.96%                90.04%

#### Quais são os três maiores/menores municípios em termos de consumo per capita urbano?

3 maiores municípios em consumo per capita urbano:

In [41]:
df1[['Município_','Cons/per cap/Urb (R$/ano)']].set_index('Município_').sort_values(by=['Cons/per cap/Urb (R$/ano)'],ascending=False).head(3)

                Cons/per cap/Urb (R$/ano)
Município_
PARNAMIRIM                     $23,379.59
NATAL                          $22,550.48
PAU DOS FERROS                 $20,256.45

3 piores municípios em consumo per capita urbano:

In [42]:
df1[['Município_','Cons/per cap/Urb (R$/ano)']].set_index('Município_').sort_values(by=['Cons/per cap/Urb (R$/ano)'],ascending=True).head(3)

             Cons/per cap/Urb (R$/ano)
Município_
VENHA-VER                   $10,895.73
AGUA NOVA                   $11,587.01
RIO DO FOGO                 $12,082.09

# Conclusão


No estado do Rio Grande do Norte ambos os produtos apresentaram queda nas vendas do perído de 2016 à 2017.
O produto B sempre obteve um melhor resultado que o produto A. O produto A foi o que mais decresceu o número de vendas(proporcionalmente). Analisando a média e a mediana vemos a mesma queda dos números absolutos, o desvio padrão mostra que os dados da amostra estavam bem próximos da média, já a variância do produto B é bem maior.

Inicialmente pensei que as vendas poderiam ter relação com a distância da capital, porém o calculo de correlação e o gráfico de disperção mostraram o contrário.

A diferença entre os melhores municípios e o piores na questão de venda é bem grande, o mesmo acontece com o consumo per capita urbano, o que pode explicar a queda das vendas dos produtos.

A população do estado é majoritariamente jovem. O interesante é que a capital não está no top de população jovem.

Na análise final o produto B, apesar da queda, tem um melhor aproveitamento que o produto A. E não há relação entre as vendas e a distância da capital.


# Referências

https://pt.wikipedia.org/wiki/Rio_Grande_do_Norte