## Estátistica

Analise das vendas dos produtos A e B no estado do Rio Grande do Norte nos anos 2016 e 2017

Autor: Victor Gabriel Ribeiro Mangabeiro

Pos BIG DATA

# Sobre este estudo

Nesta apresentação, foram utilizados os dados disponibilizados no moodle. 
O arquivo contém informações sobre a venda de dois produtos nos municipios brasileiros.

Neste estudo será utilizado os dados do estado do Rio Grande do Norte.

[Base de dados](https://moodle.df.senac.br/ead/mod/resource/view.php?id=105731) : Possui os dados de todos os estados.

[Base de dados RN](): Possui os dados somente do estado do Rio Grande do Norte.

# Rio Grande do Norte

O estado está situado no nordeste da Região Nordeste e tem por limites o Oceano Atlântico a norte a leste, a Paraíba a sul e o Ceará a oeste.

É dividido em 167 municípios e sua área total é de 52 811,126 km².

Com uma população de 3,479 milhões de habitantes, é o décimo sexto estado mais populoso do Brasil, possuindo o melhor 
IDH e a maior renda per capita da região Nordeste e a melhor expectativa de vida do Norte-Nordeste.

# Perguntas a serem respondidas

Qual a média, moda, mediana, desvio padrão e variancia das vendas dos produtos A e B nos anos de 2016 e 2017?

Quais são os três maiores municípios em termos de Vendas dos produtos A e B em cada ano?

Quais são os três menores municípios em termos de Vendas dos produtos A e B em cada ano?

Quais os municípios que cresceram as vendas de 2017 em relação a 2016? E quais diminuiram?

Existe relação entre a distancia da capital e o número de vendas?

Qual a média, moda, mediana, 1º quartil, 3º quartil, 7º decil, 84º Percentil da variável "distancia da capital"

Quais municípios tem a poluação mais jovem e mais idosa?

Quais são os três maiores/menores municípios em termos de consumo per capita urbano?

Quais municípios tem a poluação mais jovem e mais idosa?

In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)


file = "Base-de-Dados.xlsx"

xl = pd.ExcelFile(file)
pd.options.display.float_format = '${:,.2f}'.format

df1 = xl.parse('Base de dados RN')

# Vendas dos produtos nos anos 2016 - 2017

In [2]:
trace = go.Scatter(
    x = [2016,2017],
    y = df1[['Produto A em 2016','Produto A em 2017']].sum(),
    name= "Produto A"
)
trace2 = go.Scatter(
    x = [2016,2017],
    y = df1[['Produto B em 2016', 'Produto B em 2017']].sum(),
    name= "Produto B"
)

data = [trace,trace2]
iplot(data, filename='basic-line')

Ambos os produtos tiveram queda do ano de 2016 para o ano 2017.

O Produto A obteve um total de vendas em 2016 de 48.825, já em 2017 o total foi 42.816,uma queda de 12,30%.
O produto B obteve um total de vendas em 2016 de 63.934, em 2017 o total foi de 60.746,uma queda de 4,98%.

## Municipios que mais cresceram(vendas)

Apesar dos produtos obterem queda do ano de 2016 para 2017,  
alguns municipios apresentaram crescimento nas vendas de um ano para o outro.

In [3]:
def f(row):
    return row['Produto A em 2017'] - row['Produto A em 2016']

df1['Crescimento A'] = df1.apply(f, axis=1)
    
df1[['Município_', 'Produto A em 2016', 'Produto A em 2017', 'Crescimento A']].set_index('Município_').sort_values(by='Crescimento A',ascending=False).head(10)

                Produto A em 2016  Produto A em 2017  Crescimento A
Município_
PAU DOS FERROS                376                381              5
EXTREMOZ                      300                289            -11
PARNAMIRIM                    453                441            -12
MONTE ALEGRE                  291                272            -19
CAICO                         360                339            -21
AREIA BRANCA                  310                288            -22
MACAIBA                       333                307            -26
CEARA-MIRIM                   310                283            -27
APODI                         304                276            -28
SANTA CRUZ                    307                278            -29

O produto A só apresentou crescimento na cidade Pau Dos Ferros. Um crescimento de 1 %.

In [4]:
def f(row):
    return row['Produto B em 2017'] - row['Produto B em 2016']

df1['Crescimento B'] = df1.apply(f, axis=1)
    
df1[['Município_', 'Produto B em 2016', 'Produto B em 2017', 'Crescimento B']].set_index('Município_').sort_values(by='Crescimento B',ascending=False).head(10)

                      Produto B em 2016  Produto B em 2017  Crescimento B
Município_
SERRA NEGRA DO NORTE                490                715            225
NATAL                              3936               4081            145
MOSSORO                            1544               1660            116
CAICO                               828                910             82
PARNAMIRIM                         1155               1236             81
APODI                               497                528             31
CEARA-MIRIM                         446                468             22
AREIA BRANCA                        472                489             17
ACU                                 539                554             15
PAU DOS FERROS                      546                559             13

## Municípios que mais decresceram(vendas)

Abaixo os munícipios que obtiveram as maiores quedas para o 
produto A:

In [72]:
df1[['Município_', 'Produto A em 2016', 'Produto A em 2017', 'Crescimento A']].set_index('Município_').sort_values(by='Crescimento A',ascending=True).head(10)

                      Produto A em 2016  Produto A em 2017  Crescimento A
Município_
MOSSORO                             557                483            -74
ACU                                 325                275            -50
CANGUARETAMA                        329                281            -48
CURRAIS NOVOS                       348                303            -45
AREZ                                289                247            -42
GROSSOS                             294                252            -42
SERRA NEGRA DO NORTE                289                248            -41
ALMINO AFONSO                       287                246            -41
MONTANHAS                           287                246            -41
ANGICOS                             292                252            -40

Para o Produto B:

In [73]:
df1[['Município_', 'Produto B em 2016', 'Produto B em 2017', 'Crescimento B']].set_index('Município_').sort_values(by='Crescimento B',ascending=True).head(10)

                    Produto B em 2016  Produto B em 2017  Crescimento B
Município_
CARAUBAS                          405                351            -54
BREJINHO                          357                311            -46
SAO JOSE DE MIPIBU                454                411            -43
FLORANIA                          392                352            -40
AFONSO BEZERRA                    324                285            -39
EQUADOR                           357                320            -37
LAJES PINTADAS                    329                293            -36
SANTANA DO SERIDO                 401                366            -35
BOM JESUS                         332                297            -35
LAGOA DE VELHOS                   319                284            -35

## Os 3 maiores municípios em vendas

Municípios que mais venderam:

Produto A 2016

In [77]:
df1[['Município_', 'Produto A em 2016','Produto A em 2017']].set_index('Município_').sort_values(by=['Produto A em 2016', 'Produto A em 2017'],ascending=False).head(3)

            Produto A em 2016  Produto A em 2017
Município_
NATAL                    1065               1029
MOSSORO                   557                483
PARNAMIRIM                453                441

As 3 cidades acima se mantiveram no topo em ambos os anos em relação as vendas do produto A.

## Medidas de tendência central(Vendas)

Abaixo será analisado a media, moda e mediana das vendas por municipio nos anos de 2016 e 2017.

In [60]:


anos = ['Produto A em 2016', 'Produto A em 2017', 'Produto B em 2016', 'Produto B em 2017']
media = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].mean().round()
mediana = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].median().round()
moda = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].mode().round()


#desvio padrão
desvio = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].std()

variancia = df1[['Produto A em 2016','Produto A em 2017','Produto B em 2016', 'Produto B em 2017']].var()

trace1 = go.Bar(
    x=anos,
    y=media,
    text=media,
    textposition = 'auto',
    name='media'
)
trace2 = go.Bar(
    x=anos,
    y=mediana,
    text=mediana,
    textposition = 'auto',
    name='Mediana'
)

trace3 = go.Bar(
    x=anos,
    y=moda.values[0],
    text=moda.values[0],
    textposition = 'auto',
    name='moda'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group',
    title='Medidas produtos A e B 2016-2017',
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped-bar')

As medidas de tendencia central aprensentam queda de ambos os produtos, seguindo a queda dos valores totais de venda.

O desvio padrão e variancia:

| Ano | Desvio Padrão | Variancia | Produto|
| -----| ------| -------- | ---|
| 2016 | 66,32 | 4.398,55 | A |
| 2016 | 306,28| 93,809.99| B |
| 2017 | 66,59 | 4.434,53 | A |
| 2017 | 326,72| 106.744,11| B |

O desvio padrão evidencia que os dados estão bem proximos da média para o produto A em ambos os anos, já o produto B
possui um desvio padrão alto porém ainda abaixo da média.

Os dados de venda do produto B são bem mais variados que os dados do produto A.

# Média e desvio padrão das demais variaveis

Media e desvio padrão das outras variaveis que constam no banco de dados

| População Total | População Urbana | População Rural | Homens | Mulheres | Cresc.Dem. (% ao ano) | Pop. Alfabetizada (hab) | Num. Domicílios (Total)|
| ------ | --------- | --------- | --------- | --------- | ------ | --------- | --------- |
|21278,80 | 16440,76 | 4838,05 | 10465,91 | 10812,90 | 0,46 | 16520,86 | 6723,54 |
|75972,57 | 75239,68 | 5808,32 | 36135,66 | 39842,48 | 1,09 | 65545,87 | 24881,93 |



| PIB (2015) | PIB Per Capita (2015) | Comércio | Indústria | Serviços | Agribusiness | Bancos | Comércio Varejista | Comércio Atacadista|
| ---------- | -------- | ------ | ------- | ------ | ----- | ----- | ------- | ----- |
| 344782,10 | 11288,18 | 581,48  | 234,17 | 700,85 | 9,53  | 2,05  | 543,32  | 38,15 |
| 1731707,85 | 8337,05  | 2706,47 | 1216,61| 3941,82| 24,30 | 8,08  | 2460,41 | 247,72| 



| Num. Domicílios (Urbanos) | Num. Domicílios (Rurais) | Cons/per cap/Urb (R\$/ano) | Cons/per cap/Rur (R\$/ano) | Distância da Capital | Área | Densidade Demográfica 
| ------ | --------- | ---------- | --------- | ------ | ----- | ----- |
| 5329,91  | 1393,63 | 14757,30 | 6763,57 | 168,85 | 310,37 | 100,91 |
| 24689,73 | 1653,34 | 1977,82  | 1774,71 | 105,71 | 313,03 | 444,85 |

# Analise sobre a variável distancia da capital


### média, moda, mediana, 1º quartil, 3º quartil, 7º decil, 84º Percentil da variável "distancia da capital"

Os dados foram agrupados em classes com amplitude de 50.

| Distancia da capital | fi | fa |
|  ------- | --- | --- |
| 0   -\| 50 | 21 | 21 |
| 50  -\| 100 | 39 | 60 |
| 100 -\| 150 | 21 | 81 |
| 150 -\| 200 | 21 | 102 |
| 200 -\| 250 | 18 | 120 |
| 250 -\| 300 | 15 | 135 |
| 300 -\| 350 | 22 | 157 |
| 350 -\| 400 | 7 | 164 |
|     Total   | 164 |  |

In [71]:
a = pd.Series([168.90])
b = pd.Series([152.38])
c = pd.Series([75])
Pquartil = pd.Series([75.64])
Tquartil = pd.Series([260])
Sdecil= pd.Series([235.55])
Percentil = pd.Series([306.27])


trace1 = go.Bar(
    x=['Média'],
    y=a,
    text=168.90,
    textposition = 'auto',
    name='media'
)
trace2 = go.Bar(
    x=['Moda'],
    y=c,
    text=75,
    textposition = 'auto',
    name='Moda'
)

trace3 = go.Bar(
    x=['Mediana'],
    y=b,
    text=152.38,
    textposition = 'auto',
    name='Mediana'
)

trace4 = go.Bar(
    x=['1° Quartil'],
    y=Pquartil,
    text=Pquartil,
    textposition = 'auto',
    name='1º Quartil'
)

trace5 = go.Bar(
    x=['3° Quartil'],
    y=Tquartil,
    text=Tquartil,
    textposition = 'auto',
    name='3º Quartil'
)

trace6 = go.Bar(
    x=['7° Decil'],
    y=Sdecil,
    text=Sdecil,
    textposition = 'auto',
    name='7º Decil'
)

trace7 = go.Bar(
    x=['84° Percentil'],
    y=Percentil,
    text=Percentil,
    textposition = 'auto',
    name='84º Percentil'
)

data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7]
layout = go.Layout(
    barmode='group',
    title='Medidas distância da capital',
)

fig_dist = go.Figure(data=data, layout=layout)
iplot(fig_dist, filename='grouped-bar')

# População